@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-background-primary: #ffffff;
  --color-background-secondary: #f7f7fb;
  --color-accent-primary: #0059ed;
  --color-accent-hover: #2979ff;
  --color-accent-secondary: #7eaeff;
  --color-text-primary: #5b5b70;
  --color-text-secondary: #141432;
  --color-text-tertiary: #ffffff;
  --color-text-footer: #636f99;
  --color-border-primary: #d9dce7;

  --shadow-button-secondary: 0 2px 16px rgba(10, 10, 130, 0.08), 0 1px 2px rgba(10, 10, 130, 0.16);
  --shadow-button-hover: 0 6px 32px rgba(10, 10, 130, 0.08), 0 4px 16px rgba(10, 10, 130, 0.08), 0 1px 4px rgba(10, 10, 130, 0.24), 0 0 0 12px rgba(217, 220, 231, 0.2);
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}